/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


*{
  font-family: "Inter", sans-serif;
}

@layer component{
  .my-container{
    @apply container m-auto;
  }
}
