<div class="relative group max-w-screen-xl mx-auto px-4 mt-4">
  <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-[2rem] shadow-sm">
        <img class="w-full h-[150px] md:h-[220px] lg:h-[300px] object-cover" src="images/i6.jpg" alt="Slider 1">
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-[2rem] shadow-sm">
        <img class="w-full h-[150px] md:h-[220px] lg:h-[300px] object-cover" src="/images/i2.jpg" alt="Slider 2">
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-[2rem] shadow-sm">
        <img class="w-full h-[150px] md:h-[220px] lg:h-[300px] object-cover" src="/images/i3.jpg" alt="Slider 3">
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-[2rem] shadow-sm">
        <img class="w-full h-[150px] md:h-[220px] lg:h-[300px] object-cover" src="/images/i7.jpg" alt="Slider 4">
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-[2rem] shadow-sm">
        <img class="w-full h-[150px] md:h-[220px] lg:h-[300px] object-cover" src="/images/i5.jpg" alt="Slider 5">
      </div>
    </ng-template>

  </owl-carousel-o>
</div>
